
:root{
    --color_green: rgb(25,187, 41); 
	--main_color:rgb(43, 153, 87); 
    --font: rgb(239,236, 236); 
	--border: rgba(173, 173, 173, 1);
	--text: rgb(46, 46, 46);
	--base: white;
    
}

html,
body{
	height: 100%;
	scroll-behavior: smooth;
	scroll-padding-top: 50px; 
	line-height: 1;
	background-color: var(--font) !important;
	font-size: 16px;
	/* color: var(--color_header); */
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	
}





/* ---------------------------------------------------------------------------- */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}


._container {
	max-width: 1310px;
	padding: 0px 15px;
	margin: 0px auto;
	box-sizing: content-box;
}



.button-page.grey:hover {
    color: var(--border);
    background-color: var(--base);
    border: 1px solid var(--border);
}

.button-page.grey {
	text-wrap: nowrap;
    color: var(--base); /* Цвет текста на цвет фона */
    background-color: var(--border); /* Цвет фона на цвет текста */
    border: 1px solid var(--base); /* Цвет границы на цвет текста */
}
.button-page-s{
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
}
.button-page-s.green {
    color: var(--base); /* Цвет текста на цвет фона */
    background-color: var(--main_color); /* Цвет фона на цвет текста */

}
.button-page-s.red {
    color: var(--base); /* Цвет текста на цвет фона */
    background-color: red; /* Цвет фона на цвет текста */

}



.button-page-s:disabled {
    background-color: rgb(211, 211, 211);
    cursor: not-allowed; /* Указатель мыши для дизабленной кнопки */
}






